/* default */

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Rufina', serif;
  font-weight: 400;
}

h4 {
  font-weight: 500;
}

.quadrado {
  border-radius: 0;
}

.quarenta {
  height: 40px;
}

/* content */

.first {
  padding: 0;
  background-color: #EDF0F5;
  width: 100%;
  height: 100%;
}

.navbar {
  padding: .4rem 2.5rem;
  background-color: #2f3640 !important;
}

.navbar a {
  color: white !important;
  font-size: 14px;
}

.navbar-nav a {
  margin-left: 0rem;
}

.navbar button {
  background: white;
  font-size: 13px;
}

#button-addon2 {
  background: #4cd137 !important;
  color: white;
}

.form-control.searchInput {
  width: 450px;
  font-size: 13px;
}

.breadcrumb {
  background-color: #EDF0F5;
  margin-left: -2.2rem;
  /* TODO: alterar no media query */
  width: 110%;
}

.breadcrumb a {
  color: #222;
  font-weight: 400;
  font-size: 13px;
}

.contentSearch {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0 2%;
  font-size: 14px;
}

.conteudoImovel {
  box-shadow: -4px 10px 41px -9px rgba(0, 0, 0, 0.75);
  padding: 14px;
  margin-bottom: 2rem;
}

.imgimovelConteudo {
  padding: 0;
}

.imgImovel {
  width: 100%;
  height: 212px;
  /* TODO: alterar no media query */
}

.descriptionAp {
  font-size: 14px;
  line-height: 16px;
}

.iconDesc {
  box-sizing: border-box;
  margin-left: 10px;
  padding: 0;
  text-align: center;
  font-size: 14px;
}

.iconDesc img {
  width: 30px;
  height: 30px;
}

.btn-detalhes {
  background-color: #4cd137;
  border-radius: 0;
  border: 1px solid white;
}

#preco {
  font-weight: 500;
  font-size: 20px;
}

#codigo {
  font-weight: 400;
  font-size: 14px;
}

/* Sticky Navbar */

.sticky {
  background-color: white !important;
  height: 40px !important;
  transition: all 0.4s ease;
}
